dist/dev/*.js
dist/prod/*.js
dist/prod/**
node_modules
builds/**
.idea
.DS_STORE
.env

# script for building & uploading/creating invalidation
aws_transport.sh
# invalidation batch
invbatch.json
