body.light-mode {
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s ease;
}

body.dark-mode {
    background-color: #1a1919;

    a {
        color: white !important;  
    }

    p {
        color: white !important;  
    }

    * {
        background-color: #1a1919;
        color: white !important;  
    }

    .sidebar {
        background-color: #1a1919 !important;
    }

    .sidebar-overlay {
        background-color: rgba(44, 41, 42, 0.8) !important;
    }

    div[role="dialog"] {
        background-color: rgba(44, 41, 42, 0.8) !important;
    }

}


.dark-mode-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.dark-mode-toggle {
    display: flex;
    margin: 0 auto;
    & > button {
      font-size: 1.2em;
      background: none;
      margin-left: 0px !important;
      border: none;
      color: #ffe600;
      cursor: pointer;
      transition: color 0.3s ease;
      &:last-child {
        color: #666;
      }
  
      &:focus {
        outline: none;
      }
    }
}

.dmcheck input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-control {
    position: relative;
    padding: 0 4px;
    display: flex;
    align-items: center;
}

input[type='checkbox'].dmcheck {
    width: 40px;
    height: 16px;
    top: 0;
    background: #555;
    position: relative;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
  
    &:checked + label {
      left: 30px;
    }
  
    & + label {
      display: inline-block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      transition: all 0.3s ease;
      cursor: pointer;
      position: absolute;
      background: #fff;
      top: 28%;
      opacity: 0.9;
      background-color: #f6f6f6;
    }
}